body {
  height: 100vh;
  width: 100vh;
}

body app-root {
  height: 100vh;
  width: 100vh;
}

.sebm-google-map-container {
  height: 100%;
  width: 100%;
}

.coffee-shop-tooltip {
  background-image: url('../assets/img/photo-1450024529642-858b23834369.jpg');
  width: 100%;
}